#contenedor {
    padding: 15px;
    max-width: 90vw;
    width: max-content;
    height: 585px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

#contenedorjuego {
    width: 80vw;
    height: 550px;
    float: right;
    float: left;
    background-color: rgb(144, 243, 243);
    border-radius: 20px;
}

.main {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-buttons {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0 20px 0 20px;
    gap: 2px;
    height: 300px;
}

.transformed {
    display: flex;
    align-items: center;
}


/* .test{
    position: absolute;
    width: 526px;
    height: 35px;
    left: 50px;
    top: 75px;

    background: #E72020;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
} */

.icon {
    position: relative;
    right: -10px;
    width: 100px;
    height: 100px;
    z-index: 2;
    border-radius: 100%;
    background-color: #dc3545;
    border: bisque solid 5px;
}

<<<<<<< HEAD
=======
.Jugar a {
    text-decoration: none;
}

>>>>>>> af13bb3c9af4f2ef81bae8ab39e401451739a123
.icon i {
    margin-top: -7px;
    font-size: 6.5em;
}

.transformed:hover {
    transform: rotate(2deg);
}

.grid-buttons button {
    width: 100%;
    font-size: x-large;
    transition-duration: 0.2s;
    transition-property: transform;
}

.button1 {
    height: 4em;
    grid-column: 2 / 4;
    grid-row: 1/2;
}

.button2 {
    grid-column: 3 / 5;
    grid-row: 3/4;
}

.button3 {
    grid-column: 4 / 6;
    grid-row: 5/6;
}

.image-contnt img {
    height: 300px;
}

.image-contnt {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    grid-column: 6 / 9;
    grid-row: 1/7;
}