.header {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    padding: 8px;
    gap: 0.5em;
}

.header div {
    height: 35px;
    background: #E72020;
}

.player1 {
    text-align: end;
    padding-right: 1em;
    ;
    flex: 6;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 17% 100%);
}

.player2 {
    padding-left: 1em;
    flex: 6;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}

.body {
    margin-top: 30px;
    padding-top: 15px;
    width: 100%;
    height: 70%;
    justify-content: center;
    background-image: url(../img/body.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box1{
    display: flex;
        /* margin-top:1em; */
    margin: 0.3em;
    padding: 0 10px 0 10px; 
    height:12vh;
    background:#C4C4C4 ;
    align-items: center;
    gap: 1em;
}

.box2{
    display: flex;
    background: #B67474;
    height:1vh;
    margin: 0.3em ;
    border: 0.1px solid darkviolet;
}
.box2::before{
    content: " ";
    background: #FF0000;
    width: 70%;
}

.box3{
    display: flex;
    height: 200px;
    margin: 0.3em;
    text-align: center;
}

.asnwer{
    background: pink;
    flex: 9;
    display:flex;
    flex-direction: column;
    gap: 0.9em;
    padding: 20px 10px 20px 10px;
}

.asnwer div{
    height:30px;
    background:#C4C4C4 ;
    cursor: pointer;
}
.option{
    background:purple;
    flex: 4;
    color:#C4C4C4;
}

.option1,.option2{
    display:flex;
    margin-top: 20px;
    gap: 1em;
    justify-content:center;
}
.option1 div,.option2 div{
    height:60px;
    width:60px;
    background:#C4C4C4 ;
    cursor: pointer;
}